<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
  </head>
  <body>

  {% block content %}{% endblock %}

  <script>
    var puppy = {
      site: {{ site | json_encode }},
      page: {{ page | json_encode }},
    };
    console.group('Puppy');
    console.log('Site', puppy.site);
    console.log('Page', puppy.page);
    console.groupEnd();
  </script>
  </body>
</html>
